<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ability Draft</title>
    <link rel="stylesheet" href="public/css/normalize.css">
    <link rel="stylesheet" href="public/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">

</head>

<body>
    <section id="debug"></section>
    <header>
        <h1>AbilityDraft.Net</h1>
    </header>

    <section id="search">
        <input type="text" placeholder="Search" />
    </section>
    <section>
        <div id="heroPortraits">
            {{#each heroes}}

            <div class="heroPortrait">
                <img src="{{this.image}}" alt="{{this.name}}" title="{{this.name}}" />
            </div>

            {{/each}}
        </div>
    </section>
</body>


</html>