<!DOCTYPE html>
<html>
<head></head>
<body></body>
<header>
    <h1>AbilityDraft.Net</h1>
</header>
<section id="heroImages">
<h2>Hero Images</h2>
<div>
{{#each heroes}}
<img src="{{this.image}}" alt="{{this.name}}" title="{{this.name}}"/>
{{/each}}
</div>
</section>
</html>